.button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #ffd901;
  color: #333;
  cursor: pointer;
}

.button:hover {
  background-color: #caae11;
}

.button:active {
  background-color: #94800d;
}

.block {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  height: 50px;
}

.text-warn {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
  border-radius: 10px;
  text-align: center;
}

.link-text{
  cursor: pointer;
  color: royalblue;
}

.api-field{
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  width: 400px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

:host {
  display: block;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  height: 400px;
}