<h2 class="text">Аутентификация</h2>
<textarea class="input-field" [(ngModel)]="inputValue" placeholder="Введите свой апи ключ"></textarea>
<h4 class="text-warn">Если у Вас не открываются вкладки, проверье правильно ли вы ввели API ключа. Если у вас его нет, вы можете <span (click)="openLink()" class="link-text">получить API ключ NASA</span></h4>
<button (click)="saveInput()" class="button">Подключиться</button>
<!-- <button (click)="openLink()" class="button">Получить API ключ NASA</button> -->
