<nav class="tabs">
  <ul>
    <li class="tabs__item"><a routerLink="/six-component" routerLinkActive="active" ariaCurrentWhenActive="page">Authentication</a></li>
    <li class="tabs__item"><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">APOD</a></li>
    <li class="tabs__item"><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Asteroids</a></li>
    <li class="tabs__item"><a routerLink="/third-component" routerLinkActive="active" ariaCurrentWhenActive="page">Earth</a></li>
    <li class="tabs__item"><a routerLink="/fourth-component" routerLinkActive="active" ariaCurrentWhenActive="page">Mars</a></li>
    <li class="tabs__item"><a routerLink="/fifth-component" routerLinkActive="active" ariaCurrentWhenActive="page">EPIC</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>